@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap');

* {

    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

.contentWrapper {
    font-family: 'Source Code Pro', monospace;
}

hr {
    margin-top:;
    width: 85%;
    margin: 0 auto;
    border: 1px solid #393737;
}




@media only screen and (max-width: 1000px) {
    
    hr {
        display: none;
    }

    .handSomePic{
        width: 200px;
        height: 200px;
        margin-top: 10%;
        margin-left: 8%;
    }

    .myRole{
        font-size: 15px;
    }

    .contentWrapper{
        height: 1900px;
        display: flex;
        flex-direction: column;
        justify-content: start;
    }

    .title{
        text-align: center;
    }

    .aboutMeContentBox{
        display: flex;
        flex-direction: column;
        justify-items: center;
        margin-top: 15%;
        width: 100%;
        
    }

    .aboutMeContentSmallBox {
        width: 100%;
        margin: 0;
    }
    
    .technologyFamiliar{
        display: flex;
        flex-direction: column;
        justify-items: center;
        margin-top: 15%;
        width: 100%;
        text-align: center;
    }

    .contact{
        display: flex;
        justify-items: end;
        margin-top: 30%;
    }
};

@media only screen and (max-width: 400px) {
    
    hr {
        display: none;
    }



    .title{
        text-align: center;

        display: flex;
        flex-direction: row;
        justify-items: center;
        justify-content: center;
        font-size: 10px;
        
    }

    .handSomePic{
        display: none;
    }

    .myRole{
        font-size: 15px;
    }

    .contentWrapper{
        height: 1900px;
        display: flex;
        flex-direction: column;
        justify-content: start;
    }

    

    .aboutMeContentBox{
        display: flex;
        flex-direction: column;
        justify-items: center;
        margin-top: 15%;
        width: 100%;
        
    }

    .aboutMeContentSmallBox {
        width: 100%;
        margin: 0;
    }
    
    .technologyFamiliar{
        display: flex;
        flex-direction: column;
        justify-items: center;
        margin-top: 15%;
        width: 100%;
        text-align: center;
    }

    .contact{
        display: flex;
        justify-items: end;
        margin-top: 30%;
        height: 300px;
        border: red;
    }

    .contact-logo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        /* w-[85%] h-[100%] flex justify-center items-start flex-row */
    }
};