@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

*{

    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    scroll-behavior: smooth;
}

nav ul  {
    display: inline-block;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
  
}

nav a {
    padding: 15px;
    padding-top: 12px;
}

.nav-bar, .nav-bar-trans{
    z-index: 100;
}

.nav-bar {
    /* display */
    transition: .4s ease-in-out;

    /* Position */
    position: sticky;
    top: 0;
    z-index: 10;
    margin: 0 auto;

    /* Sizing */
    height: 65px;
    width: 100%;

    /* Warper color */
    background-color: rgba(61,71,80);

    /* Fonts */
    font-size: 30px;
    color: rgb(216, 216, 216);
    font-family: 'Archivo Black', sans-serif;

}

.nav-bar-trans {
    /* display */
    transition: .5s ease-in-out;

    /* Position */
    position: sticky;
    top: 1%;
    left: 0%;
    z-index: 10;
    margin-left: 10%;
   

    /* Sizing */
    height: 65px;
    width: 16%;

    /* Warper */
    color: white;
    background-color: rgba(153, 152, 152, 0.4);
    border-radius: 40px;

    /* Fonts */
    font-size: 25px;
    color: white;
    font-family: 'Archivo Black', sans-serif;

}

@media only screen and (max-width: 1500px) {
    button{
        font-size: 20px;
    }
}


@media only screen and (max-width: 1000px) {
    .nav-bar-trans  {
       display: none;
    }
}